//site color variables
$body-color: #fff;
$primary-color: #141414;
$secondary-color: #23B12E;
$text-color: #808080;
$text-color-dark: #141414;
$site-ease: cubic-bezier(0.645, 0.045, 0.355, 1);
$border-color: #e0dede;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: "Jost", sans-serif;
$secondary-font: "Poppins", sans-serif;

// Theme colours
$complementary-theme-color1: #97BF04;
$complementary-theme-color2: #9835B0;
$complementary-theme-color3: #B02F12;
$complementary-theme-color4: #0487D9;

// `skyblue`     = "#0487D9",
// `greenlight`  = "#97BF04",
