<div class="container-experience-box">
  <div class="card border-success mb-3" style="max-width: 36rem;">
    <div class="card-body text-success">
      <h5 class="card-title text-center">Experience Details</h5>
      <p class="card-text">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ emojify ":money_with_wings:" }} Price <span class="position-absolute start-50">{{ .Params.price }}</span></li>
            <li class="list-group-item">{{ emojify ":pushpin:" }} Location <span class="position-absolute start-50">{{ .Params.location }}</span></li>
            <li class="list-group-item">{{ emojify ":clock230:" }} Duration <span class="position-absolute start-50">{{ .Params.duration }}</span></li>
            <li class="list-group-item">{{ emojify ":snake:" }} Wildlife spotted <span class="position-absolute start-50">{{ .Params.wildlife }}</span></li>
            <li class="list-group-item">{{ emojify ":school_satchel:" }} What to bring <span class="position-absolute start-50">{{ .Params.to_bring }}</span></li>   
          </ul>
      </p>
    </div>
  </div>
</div>


