.container-experience-box {
    .list-group-item {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    } 
}