{{ $border_radius := (.border_radius) | default "5px" }}
{{ $wh_ratio := (.wh_ratio) | default "16 / 9" }}
{{ $caption_position := (.caption_position) | default "center" }}
{{ $image := (.image) | default (printf "https://drive.google.com/uc?export=view&id=%s" .gdrive_id)  }}
<div class="shortcode">
    <div class="blog-image">
        <figure class="figure">
            <img style="border-radius: {{$border_radius}}; aspect-ratio: {{$wh_ratio}};" src="{{$image}}"/>
            <figcaption class="figure-caption text-{{$caption_position}}">{{ if eq .caption "none" }}{{ else }}{{ .caption }}{{end}}</figcaption>
        </figure>
    </div>
</div>