<div class="container-recipe-box">
<div class="clearfix mt3">
    {{ with .Params.yield }}
    <div class="sm-col sm-col-12">
        <h4 class="black mt0 mb2 xs-center">Feeds: {{.}}</h4>
    </div>
    {{ end }}
    {{ with .Params.prepTime }}
    <div class="sm-col sm-col-12">
      <h4 class="black mt0 mb2 xs-center">Preparation time: {{.}} minutes</h4>
    </div>
    {{ end }}
    {{ with .Params.cookTime }}
    <div class="sm-col sm-col-12">
      <h4 class="black mt0 mb2 xs-center">Cooking time: {{.}} minutes</h4>
    </div>
    {{ end }}
  </div>

  <!-- call up recipe and directions -->
  <div class="clearfix mt2">
    <div class="sm-col sm-col-6 lg-col-6 recipeItems">
      <!-- check if it's a component-based recipe -->
      {{ with .Params.Components}}
      <h4 class="black mt0 mb2 xs-center">Components</h4>
      <ul>
        <!-- list components that make up recipe -->
        {{ range . }}
        <li>
          {{ with ( . | markdownify) }}{{ partial "recipe_item.html" . }}{{ end }}
        </li>
        {{ end }}
      </ul>
      {{ end }}

      {{ with .Params.Ingredients }}
      <h4 class="black mt0 mb2 xs-center">Ingredients</h4>
      <ul itemprop="ingredients">
        <!-- list ingredients that make up recipe -->
        {{ range . }}
        <li itemprop="recipeIngredient">
          {{ with ( . | markdownify) }}{{ partial "recipe_item.html" . }}{{ end }}
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>

    <div class="sm-col sm-col-6 lg-col-6 recipeItems">
      <h4 class="black mt0 mb2 xs-center">Directions</h4>
      <ul itemprop="recipeInstructions">
        {{ range .Params.Directions }}
        <li>
          {{ with ( . | markdownify) }}{{ partial "recipe_item.html" . }}{{ end }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
  <!-- end recipe and directions -->

{{ $recipe_id := .Params.recipe_id }}
{{ with .Data.recipes }}
  {{ range $key, $value := . }}
    {{ .made_in.country }}
  {{ end }}
{{ end }}
