<article class="single-blog">
    <a href={{ printf "tags/%s" .Params.tags | absURL }} class="tag">{{ .Params.tags }}</a>
    <p class="title">{{ .Title }}</p>
    <ul class="meta">
      <li>
        By <a href={{ "about" | absURL }}>{{ .Params.author }}</a>
      </li>
      <li>
        <i class="fa fa-clock-o"></i>
        {{ .PublishDate.Format "January 2, 2006" }} - {{ .Params.readTime }} read
      </li>
    </ul>
    <div class="feature-image">
      <img src="{{ .Params.featureImage  | absURL }}" alt="banner">
    </div>
    {{/*  Add recipe partial if layout set to recipe  */}}
    {{ if eq .Params.layout "recipe" }}
      {{ partial "partials/recipe.html" . }}
    {{ else if eq .Params.layout "experience" }}
      {{ partial "partials/experience-box.html" . }}
      <div class="single-blog-content">
        {{ .Content }}
      </div>
    {{ else }}
    <div class="single-blog-content">
      {{ .Content }}
    </div>
    {{end}}

  </article>