<div class="col-lg-2 order-2 order-lg-1">
    <div class="share-now">
      <a href="#" class="scrol">Share</a>
      <div class="sociel-icon">
        <ul>
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="http://www.twitter.com/intent/tweet?url={{ .Permalink }}" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/cws/share?url={{ .Permalink }}" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>